<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::title}, ~{::main})">
    <head>
        <title>Music App</title>
    </head>
    <body>

        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Add Track</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Add track</li>
                </ol>
                <div class="card mb-4">

                </div>
            </div>
        </main>

    </body>
</html>
