<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::title}, ~{::main})">
    <head>
        <title>Music App</title>
    </head>
    <body>

        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4"> Albums</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Album List</li>
                </ol>
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <!-- Iterate over the albums -->
                            <div class="col-sm-6 col-md-4" th:each="album : ${albums}">
                                <div class="card">
                                    <div class="card-body">
                                        <!-- Album Cover -->
                                        <img class="card-img-top mb-3" style="height: 200px; object-fit: contain"
                                             th:src="${album.coverImageUrl}"
                                             alt="Album Cover">
                                        <!-- Album Title -->
                                        <h5 class="card-title" th:text="${album.name}">Album Title</h5>
                                        <!-- Artist Name -->
                                        <p class="card-text">
                                            Artist: <span th:text="${album.artist}">Artist Name</span>
                                        </p>
                                        <p class="card-text">Track Count: <span th:text="${album.getTracks().size()}">--</span></p>
                                        <!-- View Album Button -->
                                        <a th:href="@{/albums/view/{id}(id=${album.id})}"
                                           class="btn btn-primary">View Album</a>

                                        <a th:href="@{/player/album/{id}(id=${album.id})}" class="btn btn-success">Play the album</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </body>
</html>
